<div class="card">
    <form id="cityForm" onsubmit="handlesubmit(event)">       
        <div class="relative mt-2 rounded-md shadow-sm">
        <input id="movieInput" type="text" name="movieName" class=" w-5rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Search your movie">
        <button type="submit" class="button-9" >Search</button>  
        </div> 
        </form>
  </div>

  <div class="movies"></div>
  <script>
    function handlesubmit(event) {
        event.preventDefault();
        let para=document.querySelector('#movieInput').value || '';
        let res = fetch(`/lauda?q=${para}`)
            .then(res => res.json())
            .then(
                data=>{let mov=document.querySelector('.movies')
            mov.replaceChildren();
            data.list.map(movie=>{
                let ele=document.createElement('div');
                ele.innerHTML=`<h1>${movie.l}</h1>
                <img src= ${movie.i.imageUrl}></img>
                `
                mov.appendChild(ele)
            })
            
            }
            )
            .catch(error => console.error('Error fetching data:', error));
    }
</script>