<%- include("Partials/header") %>
<%- include("navbar") %>
<div class="relative isolate px-6 pt-14 lg:px-8">
  <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
    <!-- <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div> -->
  </div>
  <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Select the movie which you want to see with your movie partner</h1>
      <p class="mt-6 text-lg leading-8 text-gray-600">You just need to type the movie name and select the movie</p>
  <form id="cityForm" onsubmit="handlesubmit(event)">       
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <input id="movieInput" type="text" name="movieName" class=" w-5rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 border-4 border-yellow-500/100" placeholder="Search your movie">
      <button type="submit" class="rounded-md bg-red-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 ">Search</button>
    </div>
      </form>
    </div>
  </div>
  <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
    <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
</div>
<div class="movies"></div>
<div class="compose" style="margin-top: 10rem;">

</div>
  <script>
    function handlesubmit(event) {
      // Retrieve image URL from URL query parameters
const urlParams = new URLSearchParams(window.location.search);
const imageUrl = urlParams.get('imageUrl');

console.log('Image URL:', imageUrl);

        event.preventDefault();
        let para=document.querySelector('#movieInput').value || '';
        let res = fetch(`/lauda?q=${para}`)
            .then(res => res.json())
            .then(
                data=>{let mov=document.querySelector('.movies')
            mov.replaceChildren();
            data.list.map(movie=>{
                let ele=document.createElement('div');
                ele.innerHTML=`<h1 style="font-size:35px; color: #EEEEEE;">${movie.l}</h1><a href="/post-create/${movie.l}">

                <img class="inputImg max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" src= ${movie.i.imageUrl}></img>
               </a> `
                mov.appendChild(ele)
            })
            
            }
            )
            .catch(error => console.error('Error fetching data:', error));
    }
    function handleClick(imageUrl) {
    window.location.href = `/nextpage?imageUrl=${encodeURIComponent(imageUrl)}`;
}

  </script>
  

<%- include("Partials/footer"); -%>

