<%- include("Partials/header") %>
<%- include("navbar") %>
<h1 class="postHeading">Contact Us</h1>
<p class="para1">Have a question, feedback, or just want to say hello? We'd love to hear from you! Feel free to reach out to us using the contact information below:</p>
<h3 class="head">Customer Support:</h3>
<p class="para1">Have a question about using CineCompanion? Need assistance with your account? Our dedicated customer support team is here to help! You can reach us via email at support@CineCompanion.com or by filling out the contact form below.</p>
<h3 class="head">General Inquiries:</h3>
<p class="para1">For all other inquiries, including advertising opportunities, suggestions for improving CineCompanion, or anything else on your mind, please use the contact form below or email us directly at info@cinecompanion.com.</p>

<h3 class="head">Connect With Us:</h3>
<ul class="para">
<li class="para"> Facebook: facebook.com/cinecompanion</li>
<li class="para"> Twitter: twitter.com/cinecompanion</li>
<li class="para">Instagram: instagram.com/cinecompanion</li>
</ul>
</p>
<%- include("Partials/footer") %>