<%- include("Partials/header") %>
<%- include("navbar") %>
<h1 class="postHeading">F&Qs</h1>
<div class="mb-10 " style="margin: 2rem 5rem ;">
<figure class="md:flex bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800">
    <img class="w-24 h-24 md:w-48 md:h-auto md:rounded-none rounded-full mx-auto" src="https://th.bing.com/th/id/OIP.fo-3-2-OWxV0G5WUTgIVjgAAAA?pid=ImgDet&w=188&h=185&c=7&dpr=1.3" alt="" width="384" height="512">
    <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
      <blockquote>
        <h3 class="text-lg font-bold">What is Cinecompanion?</h3>
        <p class="text-lg font-medium">
          “CineCompanion is a platform designed to help movie enthusiasts find like-minded companions to watch movies with. Whether you're looking for someone to discuss your favorite films with or want to discover new movies with a friend, cinecompanion is the place to be.”
        </p>
      </blockquote>
      <figcaption class="font-medium">
        <div class="text-sky-500 dark:text-sky-400">
          Abhishek Kumar
        </div>
      </figcaption>
    </div>
  </figure>
</div>

<div class="mb-10 " style="margin: 2rem 5rem ;">
  <figure class="md:flex bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800">
      <img class="w-24 h-24 md:w-48 md:h-auto md:rounded-none rounded-full mx-auto" src="https://th.bing.com/th/id/OIP.uweKqhMF83Bsz485_LbgyQHaHa?pid=ImgDet&w=188&h=188&c=7&dpr=1.3" alt="" width="384" height="512">
      <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
        <blockquote>
          <h3 class="text-lg font-bold">How does CineCompanion work?</h3>
          <p class="text-lg font-medium">
            “CineCompanion uses advanced algorithms to match users based on their movie preferences, tastes, and interests. Simply create a profile, browse through potential movie companions, and start connecting with fellow cinephiles.”
          </p>
        </blockquote>
        <figcaption class="font-medium">
          <div class="text-sky-500 dark:text-sky-400">
            Pankaj Kumar
          </div>
        </figcaption>
      </div>
    </figure>
  </div>

  <div class="mb-10 " style="margin: 2rem 5rem ;">
    <figure class="md:flex bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800">
        <img class="w-24 h-24 md:w-48 md:h-auto md:rounded-none rounded-full mx-auto" src="https://th.bing.com/th/id/OIP.QA6BKGdPeyghx3eQvKMPGgAAAA?pid=ImgDet&w=188&h=188&c=7&dpr=1.3" alt="" width="384" height="512">
        <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
          <blockquote>
            <h3 class="text-lg font-bold">Is CineCompanion free to use?</h3>
            <p class="text-lg font-medium">
              “Yes, CineCompanion is completely free to use. You can sign up, create a profile, and start connecting with movie companions at no cost.”
            </p>
          </blockquote>
          <figcaption class="font-medium">
            <div class="text-sky-500 dark:text-sky-400">
              Jinesh Jain
            </div>
          </figcaption>
        </div>
      </figure>
    </div>

    <div class="mb-10 " style="margin: 2rem 5rem 10rem;">
      <figure class="md:flex bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800">
          <img class="w-24 h-24 md:w-48 md:h-auto md:rounded-none rounded-full mx-auto" src="https://th.bing.com/th/id/OIP.xT9uOKVBHL86f0TWW4lEtwHaHW?pid=ImgDet&w=188&h=186&c=7&dpr=1.3" alt="" width="384" height="512">
          <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
            <blockquote>
              <h3 class="text-lg font-bold">How do I communicate with my movie companions on CineCompanion?</h3>
              <p class="text-lg font-medium">
                “Once you've found a compatible movie companion, you can send them messages directly through our platform. Use our messaging feature to discuss your favorite films, plan movie nights, and share recommendations.”
              </p>
            </blockquote>
            <figcaption class="font-medium">
              <div class="text-sky-500 dark:text-sky-400">
                Paras Gupta
              </div>
            </figcaption>
          </div>
        </figure>
      </div>
<%- include("Partials/footer") %>