<%- include("Partials/header") %>
<%- include("navbar") %>
<h1 class="postHeading"><%=post.title %></h1>
<form class="" action="" method="post">
  <div class="flex justify-center items-center">
    <input class="border rounded-md p-2 w-1/2 h-10 focus:outline-none focus:ring focus:border-gray-100 autocomplete mr-6" type="text" name="postBody">
    <button class="postButton font-medium p-3 rounded-full " type="submit" name="button">Publish</button>
  </div>

   
  
</form>
<div style="margin-bottom: 300px;">
<ul>
 
      <% for (let i = 0; i < chat.length; i++) { %>
      <li class="chatMsg mt-5">
        <img class=" h-10 w-10 rounded ml-6 mr-6" src="https://cdn.substack.com/image/fetch/w_264,c_limit,f_auto,q_auto:best,fl_progressive:steep/https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/4e1a29de-9aec-409b-ba56-8d75028e4713_400x400.png" alt="avatar" style="display: inline-block;">

        <%= chat[i].content %>
      
      </li>
    <% } %> 
  </ul>
</div>


  <footer style="position: fixed; ">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social_icon">
      <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
      <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
      <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
      <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
    </ul>
  
    <ul class="menu">
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Team</a></li>
      <li><a href="/contactUs">Contact</a></li>
    </ul>
    <p class="copyright"> Made with ❤️ </p>
  </footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  
  </body>
  
  </html>
